# Dependency directories
node_modules/

# Environment variables and credentials
.env
credentials.json
token.json

# Logs
logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 